#body,
#html {
  margin: 0;
  padding: 0;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

#EventMappingNavBar {
  border-bottom: 2px solid rgb(251, 255, 0);
  background-size: cover;
  background-image: linear-gradient(90deg, #0e11db, rgb(206, 28, 28));
  padding-block-end: 0;
  padding-block-start: 0;
}

#EventMappingNavBar a,
#EventMapping p {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

#EventMappingNavBar a:hover {
  text-decoration: underline;
  font-size: 102%;
}

#navbar-logo {
  display: inline;
  margin: 0 30px 0 50px;
}

/* #NavBarContainer {
  position: relative;
} */

#internalContainer {
  flex-grow: 1;
  padding: 0;
}

#mapMainContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}

#mapid {
  flex-grow: 1;
  height: 100%;
}
.leaflet-bar button,
.leaflet-control-layers-toggle,
.leaflet-bar a {
  background-color: #0e11db;
  border: none;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 140%;
}

.leaflet button {
  background-color: rgb(206, 28, 28);
}

.leaflet-bar button:hover,
.leaflet-bar a:hover {
  background-color: rgb(206, 28, 28);
  color: white;
  font-size: 200%;
}

.leaflet-control-layers {
  background-color: rgb(206, 28, 28);
  color: white;
}

#footerContainer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(251, 255, 0);
  line-height: 100%;
  min-height: 5vh;
  position: relative;
  background-image: linear-gradient(90deg, rgb(206, 28, 28), #0e11db);
  margin: 0;
  direction: rtl;
}

#footerContainer p,
#footerContainer a {
  color: white;
  margin-top: 10px;
  padding-right: 1%;
  /* margin-bottom: 0; */
  /* margin: auto; */
  font-style: italic;
}

.leaflet-popup-content {
  /* width: 110%; */
  text-align: center;
}

.leaflet-popup-content p {
  /* text-align: center; */
  color: rgb(0, 0, 0);
}

.leaflet-popup-content-wrapper {
  background-color: rgba(153, 153, 153, 0.96);
  /* background-color: white; */
}

.leaflet-popup-tip {
  /* background-color: white; */
  background-color: rgba(153, 153, 153, 0.96);
  /* background-color: rgba(255, 255, 255, 0.85); */
}
